/*------------------------------------*\
    $GRID SETTINGS FOR BOURBON-NEAT
\*------------------------------------*/
$max-width: em( 1054 );
$gutter: 0em;

/* Breakpoints */
$desktop: new-breakpoint( min-width 640px );
